@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;  
}

*:focus, input, textarea, button {
  border: 0;
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;

  @apply
    outline-none
}

html {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* border:.1px solid red; */
  margin: 0 auto;
  @apply 
    bg-gray-50

    h-screen    
    w-11/12
    max-w-7xl
    overflow-hidden

    flex
    flex-col
    justify-between
    gap-4
    md:gap-6
}

.loaders{
  background-color:transparent;
  position: fixed;
  padding: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  @apply
    flex
    flex-col
    justify-center
    content-center
    items-center

    rounded-full
    h-14
    w-14

    border-8
    border-green-400
}

.loader::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid #047857;
  animation: rotate 1.3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}